
<section class=" single-section about_area">
    <div class ="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="section-title">About Me</h2>
                    <p class="section-description">Introduction</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-5 about-img">
            <img class="img-fluid img-thumbnail" src='../../assets/images/shruti.jpg'  alt="About Picture"> 
        </div>
        <div class="col-12 col-lg-7 about-content">
            <div class="content-block">
              <div class="content-description">
                <!-- <p class="body-1" (click)="showFullIntro()">{{intro}}</p> -->
                <p class="body-1" >{{intro}}</p>
               </div>
              <br>
            <a mat-raised-button href="../../assets/SHRUTI_CV.docx" download="SHRUTI_CV.docx">Download CV</a>  
          </div>
    </div>
</div>
</div>

</section>
