<div class="card">
    <div class="card-body">
        <h1 class="card-title">My Skills</h1>
        <p class="card-text">core java</p>
        <p class="card-text">java 8</p>    
        <p class="card-text">advance java</p>
        <p class="card-text">Spring</p>
        <p class="card-text">SpringBoot</p>
        <p class="card-text">Webservices</p>
        <p class="card-text">Restful</p>    
        <p class="card-text">Hibernate</p>  
        <p class="card-text">My SQL</p>  
        <p class="card-text">Maven</p>  
        <p class="card-text">Git</p>  
        <p class="card-text">Git Hub</p>  
        <p class="card-text">HTML</p>  
        <p class="card-text">CSS</p>  
        <p class="card-text">JavaScript</p>  
        <p class="card-text">TypeScript</p>  
        <p class="card-text">Angular Js</p>  
        <p class="card-text">python</p>  
        
    </div>
</div>
